<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1143},{206,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,70}}</string>
                <key>sourceSize</key>
                <string>{206,70}</string>
            </dict>
            <key>ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,574},{32,32}}</string>
                <key>offset</key>
                <string>{19,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,15},{32,32}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,608},{384,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,27}}</string>
                <key>sourceSize</key>
                <string>{384,27}</string>
            </dict>
            <key>bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,574},{384,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,27}}</string>
                <key>sourceSize</key>
                <string>{384,27}</string>
            </dict>
            <key>bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,822},{319,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,277}}</string>
                <key>sourceSize</key>
                <string>{319,277}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,646},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,733},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>drug.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,994},{87,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,76}}</string>
                <key>sourceSize</key>
                <string>{87,76}</string>
            </dict>
            <key>gameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1141},{206,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,70}}</string>
                <key>sourceSize</key>
                <string>{206,70}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,471},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{834,771}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,32},{834,771}}</string>
                <key>sourceSize</key>
                <string>{1146,833}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{645,645}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,645}}</string>
                <key>sourceSize</key>
                <string>{645,645}</string>
            </dict>
            <key>ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,527},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,408},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>shits.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1072},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,408},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{404,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,167}}</string>
                <key>sourceSize</key>
                <string>{404,167}</string>
            </dict>
            <key>status.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,533},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>image.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5654d1131637c9c80d3c1a64428bc4b0$</string>
            <key>textureFileName</key>
            <string>image.png</string>
        </dict>
    </dict>
</plist>
